<table>
  <tr>
    <th>cowId</th>
    <th>healthIndex</th>
    <th>animalId</th>
    <th>lactationNumber</th>
    <th>ageInDays</th>
    <th>edit</th>
  </tr>
  <tr *ngFor="let row of tableData">
    <td>{{row?.cowId}}</td>
    <td>
      <input *ngIf="row?.healthIndex" [value]="row?.healthIndex">
    </td>
    <td>
      <input *ngIf="row?.animalId" [value]="row?.animalId">
    </td>
    <td>
      <input *ngIf="row?.lactationNumber" [value]="row?.lactationNumber">
    <td>
      <input *ngIf="row?.ageInDays" [value]="row?.ageInDays">
    <td>
      <button type="button"
              (click)="saveEdited(row?.cowId, row?.healthIndex, row?.animalId, row?.lactationNumber, row?.ageInDays)">
        Save
      </button>
      <button type="button" (click)="deleteRow(row?.cowId)">Delete</button>
    </td>
  </tr>
</table>

<form [formGroup]="form" (ngSubmit)="addCow()">
  <table>
    <tr>
      <td>
        <input placeholder="healthIndex" formControlName="healthIndex">
      </td>
      <td>
        <input placeholder="animalId" formControlName="animalId">
      </td>
      <td>
        <input placeholder="lactationNumber" formControlName="lactationNumber">
      <td>
        <input placeholder="ageInDays" formControlName="ageInDays">
      <td>
        <button type="submit">Add cow</button>
      </td>
    </tr>
  </table>
</form>
